body {
    font-family: 'Sriracha', cursive;
    margin: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.navLinks {
    text-decoration: none;
    transition: color 1s ease;
    color: white;
} .navLinks:hover {
    color: red;
} 

.headerText {
    color: white;
}

#headerBar {
    background-color: black;
    width: 100%;
    
    min-height: 100px;
    font-family: 'Aclonica', sans-serif;
    box-shadow: 0 0 15px 0 black;
}

#mainHeaderText {
    float: left;
    padding: 1vh;
}

#subHeaderText {
    float: right;
    padding: 2vh;
    margin-right: 1em;
}

#mainContent {
    max-width: 600px;
}

.flexContainer{

    display: flex;
    flex-direction: row;
    padding: 1rem;
    min-width: 600px;
    margin-top: 10vh;
}

.flexDiv {

    margin: auto;
    padding: 1em;
    font-size: 16pt;
}

#splashImage{
    max-width: 300px;
    width: auto;
    padding-right: auto;
}



@media (max-width:1400px) {
    .flexContainer {
        flex-direction: row;
        min-width: 80%
    }

    #splashImage {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #subHeaderText {
        float: left;
    }
}

@media (max-width:700px) {
    .flexContainer {
        flex-direction: column;

    }
    #subHeaderText {
        float: left;
        font-size: 20px;
        margin-top: auto;
    }

    #mainHeaderText {
        font-size: 20px;
    }
}

#reflectionDiv {
    text-align: center;
    padding-top: 5vh;
    margin: auto;
    width: 40vh;
    
}

.reflectionBox {
    padding: 1vh;
    background-color: #494449;
    margin: 1vh;
    width: auto;
    box-shadow: 0 5px 5px 0px black;
    transition: box-shadow 1s ease;
    
}

.reflectionLink {

    color: white;
    transition: color 1s ease-in;

} 

.reflectionLink:hover {
    color: red;
    
}

.reflectionBox:hover {
    box-shadow: 5px 5px 5px 0px red;
    color: red;
} 





footer {
    position: fixed;
    bottom: 0;
    left: 49%;
}